<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zentia</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>
<body>
    <!-- Header Start -->
    <header class="bg-blcak">
        <div class="container-fluid">
            <div class="header-wrap">
                <div class="head-nav exo">
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <a href="#" class="nav-items active">Discover Advisors</a>
                        </li>
                        <li class="nav-li">
                            <a href="#" class="nav-items">About</a>
                        </li>
                        <li class="nav-li">
                            <a href="#" class="nav-items">For Business</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-wrap">
                    <a href="#"><img src="assets/media/zentia-logo1.png" alt=""></a>
                </div> 
                <div class="header-signup-dropmenu"> 
                    <div class="dropdown">
                        <button type="button" class="text-capitalize button-primary border-0" data-bs-toggle="dropdown">
                            <span><i class="fa fa-user-o me-2" aria-hidden="true"></i>sign up/login</span>
                        </button>
                        <ul class="dropdown-menu p-0 bg-transparent signup-drop-menu">
                          <li>
                            <a class="dropdown-item dropmenu-item" href="#">Sign Up as User /Login</a>
                          </li>
                          <li class="border-top-main">
                            <a class="dropdown-item dropmenu-item" href="#">Become Advisor/Login</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </header>
    <!-- Header End -->
    <!-- Banner Start -->
    <section class="banner-section">
        <div class="hero-overlay"></div>
        <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" width="750" height="480">
            <source src="assets/media/banner-video.mp4" type="video/mp4">
            <source src="assets/media/banner-video.mp4" type="video/webm">
            Sorry, your browser does not support HTML5 video.
        </video>
        <div class="container">
            <h1 class="banner-heading exo">Book digital one-to-one sessions with tier 1 entrepreneurs and executives and start investing in yourself today.</h1>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Featured Section Start -->
    <section class="featured-section">
        <div class="container">
            <p class="banner-bottom-text text-center py-3">Our advisors have been featured in: </p>
            <div class="row justify-content-center align-items-center pb-4">
                <div class="col-lg-2 mx-3">
                    <img class="img-fluid" src="assets/media/logo-1.png">
                </div>
               <div class="col-lg-2 mx-3">
                    <img class="img-fluid" src="assets/media/logo-2.png">
               </div>
               <div class="col-lg-2 mx-3">
                    <img class="img-fluid" src="assets/media/logo-3.png">
                </div>
               <div class="col-lg-2 mx-3">
                    <img class="img-fluid" src="assets/media/logo-4.png">
               </div>
               <div class="col-lg-2 mx-3">
                    <img class="img-fluid" src="assets/media/logo-5.png">
               </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Founders Section Start -->
    <section class="founders-section bg-gray py-5">
        <div class="container">
            <div class="section-title">
                <h3 class="text-white roboto mb-4">Most popular advisors</h3>
            </div>
            <div class="swiper mySwiper swiper-padding">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- Founders Section End -->
    <!-- Advisors Section Start -->
    <section class="advisors-section bg-gray py-5">
        <div class="container">
            <div class="section-title">
                <h3 class="text-white roboto mb-4">Advisors who are Unicorn founders</h3>
            </div>
            <div class="swiper mySwiper swiper-padding pb-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center mt-5">
                <a href="#" class="button-primary roboto discover-btn">Discover All Advisors</a>
            </div>
        </div>
    </section>
    <!-- Advisors Section End -->
    <!-- How it works Section Start -->
    <section class="how-it-works-section bg-gray py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="text-main roboto mb-4">How Zentia Works</h2>
                <p class="section-subtitle roboto mb-5">Accelerate your learning curve as well as your personal and professional growth trajectory. Receive authentic advice from people who are 2-3 steps ahead of you.</p>
            </div>
            <div class="row">
                <div class="col-md-4 pe-5 position-relative">
                    <div class="how-it-word-overlay"></div>
                   <div class="work-card-wrap text-center py-5 px-3">
                        <div class="work-card-img position-relative mb-4">
                            <img src="assets/media/card-bg.webp" alt="" class="position-relative card-bg-img">
                            <img src="assets/media/search.png" alt="" class="card-serach-img">
                        </div>
                        <h2 class="text-main roboto mb-4">Discover Advisors</h2>
                        <p class="text-center work-card-text">Discover accomplished and experienced entrepreneurs and executives from all over the world.</p>
                   </div> 
                </div>
                <div class="col-md-4 pe-5 position-relative">
                    <div class="how-it-word-overlay"></div>
                    <div class="work-card-wrap text-center py-5 px-3">
                        <div class="work-card-img position-relative mb-4">
                            <img src="assets/media/card-bg.webp" alt="" class="position-relative card-bg-img">
                            <img src="assets/media/calendar.png" alt="" class="card-serach-img">
                        </div>
                        <h2 class="text-main roboto mb-4">Book Video Session</h2>
                        <p class="text-center work-card-text">Pick a date and the amount of time you would like to have with the advisor and book a video session.</p>
                    </div> 
                </div>
                <div class="col-md-4 pe-5 position-relative">
                 <div class="how-it-word-overlay"></div>
                     <div class="work-card-wrap text-center py-5 px-3">
                         <div class="work-card-img position-relative mb-4">
                             <img src="assets/media/card-bg.webp" alt="" class="position-relative card-bg-img">
                             <img src="assets/media/bulb.png" alt="" class="card-serach-img">
                         </div>
                         <h2 class="text-main roboto mb-4">Receive Advice</h2>
                         <p class="text-center work-card-text">On the call, you will be able to ask questions, receive feedback, input and authentic advice from the advisor.</p>
                     </div> 
                 </div>
            </div>
        </div>
    </section>
    <!-- How it works Section End -->
    <!-- Slider Section Start -->
    <section class="slider-section">
        <div class="swiper middle-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-bg-img d-flex justify-content-center align-items-center">
                        <h2 class="slider-heading text-main roboto text-center">Unlocking Access to <br> Knowledge and Experience <br> Across the World</h2>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-bg-img bg-two d-flex justify-content-center align-items-center">
                        <h2 class="slider-heading text-main roboto text-center">Unlocking Access to <br> Knowledge and Experience <br> Across the World</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next slider-next-btn"></div>
            <div class="swiper-button-prev slider-prev-btn"></div>
        </div>
    </section>
     <!-- Slider Section End -->
     <!-- Advisors Marketing Section Start -->
    <section class="advisors-section bg-gray py-5">
        <div class="container">
            <div class="section-title">
                <h3 class="text-white roboto mb-4">Advisors who specialize in Marketing</h3>
            </div>
            <div class="swiper mySwiper swiper-padding pb-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s1.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Entrepreneur & investor, Former 
                                </p>
                                <p class="text-white roboto mb-0 card-subtitle">CMO @Netflix, 2x IPO's in USA 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s2.webp" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s3.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s4.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-wrapper">
                            <div class="card-img-wrap bg-main">
                                <img src="assets/media/s5.jpg" alt="">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-content d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-white mb-0">Name</p>
                                    <p class="text-white mb-1">$1000 / Session</p>
                                </div>
                                <img src="assets/media/correct.png" alt="" class="check-img">
                            </div>
                            <div class="featured-card-content">
                                <p class="text-white roboto mb-2 card-subtitle">Former CMO @Netflix, </p>
                                <p class="text-white roboto mb-0 card-subtitle">Uber, Apple</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center mt-5">
                <a href="#" class="button-primary roboto discover-btn">Discover All Advisors</a>
            </div>
        </div>
    </section>
    <!-- Advisors Marketing Section End -->
    <footer class="bg-black py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-main exo mb-4">Follow us on social media</h5>
                    <ul class="footer-icon-ul mb-5">
                        <li>
                            <a href="#"><img src="./assets/media/instagram-icon.webp" alt="" class="footer-icon"></a>
                        </li>
                        <li>
                            <a href="#"><img src="./assets/media/linkedin-icon.webp" alt="" class="footer-icon"></a>
                        </li>
                    </ul>
                    <div class="footer-btn">
                        <a href="#" class="button-secondary roboto">Sign Up / Login </a>
                        <a href="#" class="button-secondary roboto">Become an Advisor</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-main exo mb-4">Company</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#" class="text-white roboto">About</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-white roboto">Careers</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-white roboto">Policy</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-white roboto">Terms</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-main exo mb-4">Help</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#" class="text-white roboto">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-white roboto">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-white roboto">Suggest an Advisor</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12">
                            <div class="copyright">
                                <p class="text-white mb-0 mt-5">ZENTIA 2022. ALL RIGHTS RESERVED</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/ui.min.js"></script>
</body>
</html>